# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
myenv/
narratives_venv/

# Environment files
.env
*.env

# Docs
*.docx
*.pdf

# JSON data files
*.json

# Ignore specific agent folders
expel_agent/
reflexion_agent/
reinvoke/

# Ignore specific scripts
kahn.py
